<!-- Navbar start -->

  <!-- Navbar end -->
  <lib-ngx-notification></lib-ngx-notification> <!-- Notifications -->
  <router-outlet (activate)="changeOfRoutes()"></router-outlet>
  <div class="footer" *ngIf="footer">
    <br>
    <div class="container" style="padding: 0px 0px;">
      <div class="row" style="margin: 0px 0px;">
        <div class="col-md-4 col-4 text-center">
          <h4 style="color:white; font-weight: bold">Contact</h4>
          <p style="color:white; margin-bottom: 8px;" class="sizeIt">
            9697989697
          </p>
          <span style="color:white;" class="sizeIt">matches@hansmatrimony.com</span>
          
        </div>
        <div class="col-md-4 col-4 text-center">
          <h4 style="color:white ;font-weight: bold; margin-bottom: 0px;">Follow Us</h4>
          <a href="https://www.facebook.com/HansMatrimony/">
            <i class="fa fa-facebook-official" aria-hidden="true" style="color:white; padding: 0px;"></i>
          </a>
            <p style="color:white;" class="sizeIt sizeFor">Twango social network pvt ltd</p>
        </div>
        <div class="col-md-4 col-4 text-center">
          <h4 style="color:white; font-weight: bold">Policy Info</h4>
          <a href="#" class="link-footer sizeIt">Privacy Policy</a><br>
          <a href="#" class="link-footer sizeIt">Terms Of use</a><br>
          <a href="#" class="link-footer sizeIt">Cancellation</a><br>
          <a href="#" class="link-footer sizeIt">FAQ</a>
        </div>
      </div>
    </div>
  </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content" style="background:#F7F7F7;border:1px solid orange">
          <app-login></app-login>
        </div>
      </div>
    </div>