p {
    font-size: 14px;
}
h6 {
    font-weight: bold;
    color: blue;
}
.mainCol1 {
    border-right: 1px solid black
}
.buttonArea {
    margin: 5rem 0px
}
.formRow {
    margin: 0px; padding: 0px
}
.proceedButton {
    margin-left: 10px; 
}
.cardStyle {
    padding-left: 10px;
    background-color: #f5f5f5;
}
@media only screen and (max-width: 1024px) {
    .mainCol1 {
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        border-right: 0px solid black
    }
    .buttonArea {
        margin: 10px 0px 
    }
    .formRow{
        margin: 0px -15px;
    }
    .proceedButton {
         margin-top: 20px;
    }
    .cardStyle {
        padding-left: 20px;
        padding-right: 10px;
        margin: 10px 0px 0px;
        background-color: #f5f5f5;
    }
}
